.vs/
## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build Results
/BitMazer/bin/
/BitMazer/.vs/
/BitMazer/vs/
/BitMazer/obj/
obj/
bin/
log
*.log

.vscode/

# Others
*.ncb
*.sdf
*.opensdf
*.cache
*.dbmdl
*.pdb
*.tlog
*.VC.db
*.VC.VC.opendb
