<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <img id="logo" src="images/logo.png" alt="Logo" />
        <a id="navbar-brand" href="">BitMazer</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-row fw-bold">
        <div class="nav-item px-3">
            <NavLink href="" Match="NavLinkMatch.All">
                <span>
                    <i class="bi bi-house-door-fill"></i>
                </span> 
                Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink href="encrypt">
                <span>
                    <i class="bi bi-lock-fill"></i>
                </span> 
                Encrypt
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink href="decrypt">
                <span>
                    <i class="bi bi-unlock-fill"></i>
                </span>
                Decrypt
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink href="analysis">
                <span>
                    <i class="bi bi-graph-up"></i>
                </span>
                Analysis
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
